<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Mascotas</title>
<link rel="shortcut icon" href="/imagenes/icono.png" type="image/png"></link>

<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a style="border-bottom-color: green" th:href="@{/pet/irRegistrar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span> Mascota
					</a> <a style="border-bottom-color: green" th:href="@{/pet/irBuscar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search"></span>
					</a>

					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CODIGO</th>
								<th class="text-center">PET</th>
								<th class="text-center">BIRTHDATE</th>
								<th class="text-center">RAZA</th>
								<th class="text-center">TIPO</th>
								<th class="text-center">EDAD</th>
								<th class="text-center">DUENO</th>
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${listaMascotas}">
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/pet/ver/} + ${p.idPet}" th:text="${p.idPet}"></a></td>
								<td th:text="${p.namePet}"></td>
								<td th:text="${p.razaPet}"></td>
								<td th:text="${p.tipoPet}"></td>
								<td th:text="${p.edadPet}"></td>
								<td th:text="${#dates.format(p.birthDatePet,'dd/MM/yyyy')}"></td>
								<td th:text="${p.dueno.nameDueno}"></td>
								<td><a th:href="@{/pet/eliminar?id=}+${p.idPet}">Eliminar</a></td>
								<td><a th:href="@{'/pet/modificar/' + ${p.idPet}}">Modificar</a></td>
								<td align="center"><a th:href="@{/pet/ver/} + ${p.idPet}"><span
						class="glyphicon glyphicon-eye-open"></span></a></td>

							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
