<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Host</title>
<link rel="shortcut icon" href="/imagenes/icono.png" type="image/png"></link>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/persona.js}"></script>



</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">

		<form th:action="@{/host/registrar}" method="post"
			th:object="${host}">
			<div class="form-group">
				<label for="idhost">ID:</label> <input type="text"
					class="form-control" th:field="*{idHost}"></input>
			</div>
			<div class="form-group">
				<label for="dni">DNI:</label> <input type="text"
					class="form-control" th:field="*{dniHost}" id="dni" />
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('dniHost')}"
					th:errors="*{dniHost}"></div>

			</div>

			<div class="form-group">
				<label for="nombre">NOMBRE:</label> <input type="text"
					th:field="*{nameHost}" class="form-control" id="nombre"></input>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('nameHost')}"
					th:errors="*{nameHost}"></div>

			</div>
			
						<div class="form-group">
				<label for="apellido">APELLIDO:</label> <input type="text"
					th:field="*{apellidoHost}" class="form-control" id="apellido"></input>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('apellidoHost')}"
					th:errors="*{apellidoHost}"></div>

			</div>
			
			<div class="form-group">
				<label for="fechanacimiento">FECHA DE NACIMIENTO:</label> <input
					type="date" th:field="*{birthDateHost}" class="form-control"
					id="fechanacimiento"></input>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('birthDateHost')}"
					th:errors="*{birthDateHost}"></div>

			</div>


			<div class="form-group">
				<label for="direccion">EMAIL:</label> <input type="email"
					class="form-control" th:field="*{emailHost}" id="direccion"></input>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('emailHost')}"
					th:errors="*{emailHost}"></div>

			</div>
			
						<div class="form-group">
				<label for="celular">CELULAR:</label> <input type="text"
					class="form-control" th:field="*{celHost}" id="celular"></input>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('celHost')}"
					th:errors="*{celHost}"></div>

			</div>
			
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/host/listar" class="btn btn-danger">Cancelar</a>

		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
