<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Duenos</title>
<link rel="shortcut icon" href="/imagenes/icono.png" type="image/png"></link>

<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a th:href="@{/dueno/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span> Dueno
					</a> <a style="border-bottom-color: green"
						th:href="@{/dueno/irBuscar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search"></span>
					</a>
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CODIGO</th>
								<th class="text-center">NOMBRE</th>
								<th class="text-center">APELLIDO</th>
								<th class="text-center">DNI</th>
								<th class="text-center">CELULAR</th>
								<th class="text-center">FECHA DE NACIMIENTO</th>
								<th class="text-center">EMAIL</th>
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="per: ${listaDuenos}">
								<td th:text="${per.idDueno}"></td>
								<td th:text="${per.nameDueno}"></td>
								<td th:text="${per.apellidoDueno}"></td>
								<td th:text="${per.dniDueno}"></td>
								<td th:text="${per.celDueno}"></td>
								<td
									th:text="${#dates.format(per.birthDateDueno,'dd/MM/yyyy')}"></td>
								<td th:text="${per.emailDueno}"></td>

								<td><a th:href="@{/dueno/eliminar?id=}+${per.idDueno}">Eliminar</a></td>
								<td><a
									th:href="@{'/dueno/modificar/' + ${per.idDueno}}">Modificar</a></td>


							</tr>
						</tbody>

					</table>

				</div>
			</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
